@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);
$orange: hsl(25, 97%, 53%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Overpass", sans-serif;
}

.container {
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: $very-dark-blue;

	.component {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 400px;
		height: 400px;
		background-color: $dark-blue;
		color: $white;
		border-radius: 25px;

		p {
			font-size: 15px;
			color: $light-grey;
			line-height: 1.5em;
		}
	}

	#form-view {
		padding: 30px;
		.rating-group {
			display: flex;
			justify-content: space-between;

			.circle-container {
				border: none;

				&:hover {
					cursor: pointer;
					background-color: $medium-grey;
					color: $white;
				}

				&:focus-visible {
					outline: $orange solid;
				}
			}

			.active {
				background-color: $orange;
				color: $white;
			}
		}

		button[type="submit"] {
			padding: 12px;
			background-color: $orange;
			color: $white;
			font-weight: 700;
			letter-spacing: 0.2rem;
			border-radius: 50px;
			border: none;

			&:hover {
				cursor: pointer;
			}

			&:active {
				background-color: $white;
				color: $orange;
			}

			&:focus-visible {
				outline: solid $white;
			}
		}
	}

	#confirmation-view {
		display: none;
		padding: 40px 30px;
		align-items: center;

		img {
			width: 50%;
			height: auto;
			object-fit: contain;
		}

		#rating-selection {
			padding: 8px 25px 5px 25px;
			border-radius: 50px;
			background-color: hsla(217, 12%, 63%, 0.1);
			color: $orange;
		}

		p {
			text-align: center;
		}
	}

	.circle-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		padding: 10px;
		border-radius: 50px;
		background-color: hsla(217, 12%, 63%, 0.1);
		color: $light-grey;
	}

	.star {
		width: 75%;
		height: 75%;
	}
}

@media screen and (max-width: 450px) {
	.container {
		.component {
			margin: 0 20px;
		}
	}
}
